#winner{
  top: 300px;
  left:1000px;
  font-size: 30px;
  font-family: cursive;
  position: absolute;
}
#main{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.button{
  border-radius:15px;
  padding: 15px 25px;
  color:blue;
  font-family: cursive;
  font-weight: bold;
  background-color:yellow;
  position: absolute;
}
.button:hover{
  background-color: #3e8e41;
}
.button:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.auto-player{
  border-radius:15px;
  top:280px;
  left:9px;
  padding: 15px 25px;
  color:blue;
  font-family: cursive;
  font-weight: bold;
  background-color:yellow;
  position: absolute;
}
.auto-player:hover{
  background-color: #3e8e41;
}
.auto-player:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.type1{
  border-style:none solid solid none;
  border-width: 5px;
  border-color: yellow;
  width:80px;
  height:100px;
  top:200px;
  left:600px;
  padding-left:25px;
  padding-bottom:10px;
  font-size:80px;
  font-family:cursive;
  position: absolute;
  display:inline-block;
}
.type1:hover{
  background-color:green;
}
.type2{
  border-style:none none solid none;
  border-width: 5px;
  border-color: yellow;
  width:100px;
  height:100px;
  padding-left:5px;
  padding-bottom:10px;
  font-size:80px;
  font-family:cursive;
  top:200px;
  left:820px;
  position: absolute;
  display:inline-block;
}
.type2:hover{
  background-color:green;
}
.type3{
  border-style:none solid none none;
  border-width: 5px;
  border-color:pink;
  width:95px;
  height:100px;
  padding-left:14px;
  margin-right:10px;
  padding-bottom:10px;
  font-size:80px;
  font-family:cursive;
  top:430px;
  left:600px;
  position: absolute;
  display:inline-block;
}
.type3:hover{
  background-color:green;
}
.type4{
  width:90px;
  height:98px;
  border-style:none;
  font-size:80px;
  font-family:cursive;
  padding-left:15px;
  padding-bottom:10px;
  top:428px;
  left:820px;
  position: absolute;
  display:inline-block;
}
.type4:hover{
  background-color:green;
}
.player{
  font-size:80px;
  font-family:cursive;
  position: absolute;
}
